

body{
  background-color: black;

  font-family: Verdana, sans-serif;
}

header img {
  width: 40%;
  height: auto;
}

header{
  padding: 20px;
  text-align: center;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Noto Sans Display', sans-serif;
}

h2, h3{
  font-size: 30px;
  font-family: 'Noto Sans Display', sans-serif;
  margin-left: 40px;
}


p{
  font-size: 20px;
  margin-left: 40px;
}

.writing{
  font-style: italic;
}

nav{
  background-color: navy;
  padding: 15px;
  text-align: center;

}

nav a {
  color: white;
  padding: 20px;
  font-size: 120%;
  text-decoration: none;
}

nav a:hover {
  background-color: lightblue;
  color: blue;
  font-size: 130%;
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
}

nav li {
  display:inline;

}

nav ul{
  margin:0;
  padding:0;
}

section{
  padding: 20px;
  overflow: auto;
}

.juju{
  width:20%;
  height: auto;
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}

.TicketBut {
  text-align: right;

  background-color: black;
  color:#EDB700;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-flex;
  margin-top: 80px;

}

footer {
  background-color: black;
  color: lightblue;
  text-align: center;
  padding-left: 15px;

}

.twitter{
  float: right;
}

.twitter{
  margin-right: 10%;
}
.instagram{
  margin-left: 10%;
}


div.gallery{
margin: 10px 50px;
}

.gallery img{
  width:230px;
  padding:5px;
  filter: grayscale(90%);
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);

}

.photosheader{
  color: black;
  font-family: 'Noto Sans Display', sans-serif;
}

#photosdoc{
  background-color: gray;
}

#main {
  width :100%;
  margin: 0 auto;
  background-color: gray;
}
